<div class="content">
  <table class="tableau">
    <thead>
      <tr>
        <th colspan="2" style="font-size: 2em; padding-bottom: 3%">
          Journal de Bord
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center; font-weight: 700; width: 10%">Date</td>
        <td style="text-align: center; font-weight: 700; width: 90%">
          Description
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD1 : 01/02</td>
        <td>
          Nous avons dû choisir 2 sujets de controverses qui nous intéressaient.
          Nous avions pris : <br />
          - “ Pour ou contre le télétravail ? “ <br />
          - “ Pour ou contre la censure sur les réseaux-sociaux ? “ <br />Nous
          avons résumé chacune d’entre elles en quelques lignes, et défini un
          ordre de préférence, pour n’en choisir qu’une à la fin.
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD2 : 08/02</td>
        <td>
          Entre nos 2 controverses, nous avons décidé de garder celle sur la
          censure. Pour nous aider à démarrer, nous avons rempli une fiche
          documentaire, contenant nos mots clés de recherche, les équations de
          recherches, en anglais et français
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD3 : 15/02</td>
        <td>
          Grâce à la fiche documentaire, nous avons commencé nos recherches dans
          le but de commencer notre frise chronologique et la carte mentale, qui
          feront partie de notre livrable.
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD4 : 01/03</td>
        <td>
          Pour notre livrable, nous devions avoir un entretien avec une personne
          en rapport avec notre controverse/un acteur. Pour cela, nous pensions
          contacter un acteur en lien avec la loi, qui saurait nous en dire plus
          en terme de législation sur la censure des réseaux sociaux. Nous avons
          contacté des étudiants en droit, des avocats, un professionnel
          spécialisé dans le droit sur les réseaux sociaux, et attendons
          désormais une réponse.
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD5 : 08/03</td>
        <td>
          Pour avancer plus rapidement, nous avons décidé de nous répartir les
          rôles comme ceci : <br />
          - CORTES Sébastien : Carte mentale <br />
          - GACOIN-FABRE Tom : Carte mentale <br />
          - GOMEZ Alexandre : Création du site web pour le livrable <br />-
          IBNABDELJALIL Adam : Frise chronologique <br />
          - FOUREL Tom : Frise chronologique <br />
          - FERNANDEZ Maëva : Préparation de l’entretien <br />Concernant
          l'entretien,nous n’avons pas encore eu de réponse positive. Nous
          avançons dans les recherches et dans les rôles que l’on s’est donnés.
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD6 : 15/03</td>
        <td>
          Nous poursuivons dans l’avancement du travail, la réalisation du site
          internet étant en cours (notre support de livrable), nous peaufinons
          les recherches, chacun de notre côté, sur les différents points du
          livrable. Malheureusement, nous n’avons pas eu de réponses positives
          de la part d’un acteur que nous avons contacté. Nous allons donc
          utiliser un entretien trouver sur YouTube qui est en lien avec notre
          controverse. Pour compléter ce support, nous avons créé un
          questionnaire sur Google Form, avec les questions que nous avions
          préparées pour l’entretien, et nous l’avons fait circuler un peu
          partout, afin d’obtenir un maximum de réponses et d’avis pour pouvoir
          en tirer des conclusions et avoir différents points de vues.
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD7 : 22/03</td>
        <td>
          Le site internet étant désormais fini, nous le complétons avec les
          informations que nous avons et finissons de détailler certains points
          du livrables.
        </td>
      </tr>
      <tr>
        <td style="text-align: center">TD8 : 29/03</td>
        <td>
          Présentation orale de notre controverse, à l’aide de notre livrable
          comme support.
        </td>
      </tr>
    </tbody>
  </table>
</div>
