<div class="content">
  <img src="assets/Frise.png" width="100%" class="frise activable" />
  <div class="paragraph activable">
    <h2 style="text-align: left; margin-bottom: 5%">
      L'histoire des réseaux sociaux
    </h2>
    <p>
      Lors de nos recherches nous avons trouvé des dates essentielles à la
      controverse. Nous les avons donc présentés sous la forme d’une frise
      chronologique. L’apparition des réseaux sociaux se produit en 1988 avec le
      groupe aol qui lance la première plateforme où les profils sont associés
      par intérêt. En 2004 arrive facebook qui détrônera Myspace est qui restera
      longtemps le premier réseaux sociaux. Le cœur de notre controverse se
      situe en 2021 avec le bannissement du compte twitter de Donald Trump lors
      de son mandat en tant que 45eme président des États unis. Il eut des lois
      importantes aussi comme la première loi censurant les contenus haineux sur
      internet en 1981. La principale loi étant la loi “avia” en 2020. Loi
      visant à lutter contre les contenus haineux sur Internet. En 2008 se
      produit la première journée mondiale contre la cybercensure.
    </p>
  </div>
</div>
