<div class="content">
  <h1 style="margin-bottom: 5%">
    Sondage réalisé auprès des étudiants de Montpellier (86 réponses)
  </h1>
  <div class="Sondage">
    <img src="assets/Sondage1.png" class="frise1 activable" />
    <div class="paragraph activable">
      <h2 style="text-align: left; margin-bottom: 5%">Les sujets à censurer</h2>
      <p style="text-align: justify">
        Parmis les sujets à censurer trois sont sorti du lot. On peut en déduire
        trois clases de personnes : <br />- Ceux pour qui la censure est un
        moyen d'éviter des conflits <br />- Ceux pour qui la censure est un
        moyen d'éviter de choquer <br />- Ceux pour qui la censure n'a aucune
        utilité
      </p>
    </div>
  </div>
  <div class="Sondage">
    <div class="paragraph activable">
      <h2 style="text-align: left; margin-bottom: 5%">Qui doit censurer ?</h2>
      <p style="text-align: justify">
        Les utilisateurs de réseaux sociaux pensent en majorité qu'ils sont
        résponsables de leur propre censure et que la censure doit suivre le
        cours de la majorité. Certains pensent aussis qu'un pouvoir éxécutif tel
        que les états ou les entreprises de réseaux sociaux doivent apliquer la
        censure.
      </p>
    </div>
    <img src="assets/Sondage2.png" class="frise1 activable" />
  </div>
  <div class="Sondage">
    <img src="assets/Sondage3.png" class="frise1 activable" />
    <div class="paragraph activable">
      <h2 style="text-align: left; margin-bottom: 5%">
        L'importance de la censure
      </h2>
      <p style="text-align: justify">
        Une grande majorité des utilisateurs mettent sur un pied d'égalité la
        censure et la liberté d'expression. Bien qu'étant une limitation de la
        liberté d'expression, la censure, quand elle est bien apliquée (en
        effet, 30% des utilisateurs priorisent la liberté et donc pensent que la
        censure est mal apliquée), semble être aussi un outil oficieux pour au
        final gagner plus de liberté.
      </p>
    </div>
  </div>
  <div class="Sondage">
    <div class="paragraph activable">
      <h2 style="text-align: left; margin-bottom: 5%">
        La censure est-elle acceptable ?
      </h2>
      <p style="text-align: justify">
        En confirmation de ce que l'on a dit précédemment on peut noter ici que
        75% des utilisateurs de réseaux sociaux trouvent la censure normale.
      </p>
    </div>
    <img src="assets/Sondage4.png" class="frise1 activable" />
  </div>
  <iframe
    class="frise2 activable"
    src="https://www.youtube.com/embed/BZZcRlvHKfg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <div class="paragraphBig activable" style="text-align: justify">
    <h2 style="text-align: left; margin-bottom: 5%">L'interview</h2>
    <p>
      Durant notre étude sur le sujet de la censure sur les réseaux sociaux,
      nous avons essayé d’entrer en contact avec différentes personnes pour les
      interroger sur le sujet. Seulement avec les circonstances actuelles,
      certains n’ont pas pu nous accorder de temps tandis que d'autres ne se
      sentaient tout simplement pas assez informés sur le sujet. Nous avons
      contacté une étudiante en 2 année de droit à Montpellier mais celle-ci ne
      se sentait pas assez compétente pour nous répondre. Nous avons également
      contacté une personne travaillant dans la communication dans le public
      mais encore une fois celle-ci ne pensait pas pouvoir nous aider.
    </p>
    <p>
      Nous nous sommes donc rabattus sur une interview publiée sur Youtube où
      Usul est interrogé par une journaliste.
    </p>
    <p>
      La première question qui lui est posée porte sur le traitement des
      opinions à travers les réseaux sociaux. Peut-on véhiculer une opinion
      quelle qu'elle soit de la manière que dans les médias traditionnels ?
    </p>
    <p>
      Usul répond à cela que pour lui le principal réseau social qui permet de
      transmettre une opinion est Youtube. Le souci est que ces plateformes sont
      privées et nécessite un moyen de rentabilité. C’est par la publicité que
      par exemple youtube mais aussi d’autres plateformes génèrent du revenu.
      Ainsi les annonceurs décident et imposent le contenu sur lequel elles
      souhaitent afficher une publicité. Ainsi il en découle un algorithme,
      inconnu par les créateurs de contenu mais dont les grandes lignes sont
      connues. Cet algorithme a pour but de mettre en avant les contenus sur
      lesquels il y a le plus d’annonceurs souhaitant poster une pub. Ainsi
      lorsqu’on s’attarde sur l’onglet tendance de youtube, il n’est pas rare de
      retrouver des vidéos dépourvues de fond qui sont donc fortement mises en
      avant car elles plaisent aux annonceurs de pubs. Comprenez bien qu’une
      vidéo portant sur Hitler ou sur sujet faisant fortement polémique, les
      entreprises ne veulent pas se risquer à être associées à ce contenu ou
      cette cause. Donc des sujets comme la politique, l’information,
      l’histoire, etc sont fortement mis en retrait sur youtube. A côté de ça,
      certains youtubeurs ripostent et multiplient les sources de revenu pour
      assurer un revenu plus stable et sûr, ils demandent par exemple à leurs
      abonnés (aux gens qui les suivent) de participer sous forme de dons ou
      bien établissent des partenariats avec des marques qui les soutiennent
      dans leurs projets.
    </p>
    <p>
      Le seconde question se dirige plus sur la censure interne au média. En
      effet, lorsqu'on est journaliste et que l’on est dans un média
      d’information quel que soit son support, il y a forcément une existence
      sur internet qui y est associée. Partant de la loi de 1881 et les
      évolutions qui ont suivi jusqu’à l’évolution de l’information sur
      internet, comment un journaliste fait pour ne pas être pris dans
      l’autocensure ? Il a pourtant des devoirs, un professionnalisme à
      respecter auquel il se dévoue de part la charte de Munich pour informer et
      transmettre l’information. Comment expliquez vous l’initialisation de la
      censure dès la conférence de rédaction ?
    </p>
    <p>
      Si nous prenons la censure dans un sens large de contrôle culturel, la
      pensée d’Usul est que depuis le mandat de Macron, celui-ci n’a pas joué en
      faveur des journalistes. En effet, il a essayé de lutter contre l’invasion
      de journalistes en les réprimant parfois. Il a en fait une culture bien
      particulière du journalisme, celle qui le met en valeur ou qui fait parler
      de lui. Vous avez dû entendre parler de sa photo en jet ski par exemple.
      Des médias comme la Voix du Nord ont déjà fait face à cette censure. Lors
      d’une interview de Jean Castex, son cabinet avait demandé à modifier une
      grande partie des propos du premier ministre, hors le média a refusé de
      tout changer car l’interview ne possédait plus autant d'intérêt. L’autre
      souci réside dans la chasse aux sources. Le devoir d’un journaliste est de
      préserver ses sources pour éviter quelconque conséquence sur elle. Le fait
      de chasser les sources des journalistes décourage les futures à témoigner.
      Et donc les sources se raréfient. Pour en revenir au contrôle culturel.
      Dans les médias, les journalistes se font une idée sur ce qui est un sujet
      ce qui n’en est pas un. Ils se font une idée sur ce qui se dit et sur qui
      ne se dit pas, ce qui se montre et ce qui ne se montre pas, etc … On peut
      retrouver par exemple des interviews sur une radio connue de politiques de
      droite et donc des questions orientées dans ce sens, car des questions “de
      gauche” auraient été mal venues ici. Pareillement, des sujets qui étaient
      des non sujets avant peuvent devenir des sujets aujourd’hui. Avant,
      personne ne parlait des violences policières mais les journalistes avaient
      déjà l’idée de traiter le sujet, seulement, à l’époque celui-ci n’était
      pas recevable par le public.
    </p>
    <p>
      La dernière question porte sur la censure économique. On se rend bien
      compte que le point de chute du journalisme c’est les moyens, même pour
      les journalistes indépendants, s’ils n’ont pas les moyens, ils ne pourront
      pas continuer. Alors est-ce que la censure économique n’est pas un très
      bon moyen de tuer la liberté d’expression ?
    </p>
    <p>
      C’est exactement ce qu’il se passe en Hongrie par exemple, répond Usul.
      Les oligarques rachètent tous les médias pour les faire taire. Nous aussi
      on a un équivalent en France. Des gens qui possèdent les médias pour leur
      influence idéologique. Et de même, une personne avec beaucoup de moyens
      pourra tester la loi pour faire passer des propos à la limite comme
      Zemmour a déjà pu le faire et après crier à la censure. Les journaux se
      font quand même rarement attaquer mais il faut toujours un service
      juridique car il va y avoir des procédures judiciaires pour tel ou tel
      sujet. Et bon ça fait des frais supplémentaires que des petits journaux
      indépendants ne peuvent pas forcément assumer. Dans un autre sens, ce
      service peut être bénéfique pour les journalistes car ça les rend plus
      libres dans leurs écrits car ils n’ont plus à craindre un procès ou les
      conséquences de celui-ci. Un autre problème qui revient sur la discussion
      de la première question, c’est qu’il faut satisfaire l’algorithme Google
      et Youtube pour être bien référencé et avoir plus de visiteurs. Encore une
      autre pratique que l’on retrouve c’est de précariser des journalistes qui
      le sont déjà comme des jeunes par exemple et ainsi avoir une information
      contrôlable. Cette technique est très efficace. Être un journaliste
      audacieux c’est une belle mais peu récompensée car même si le journaliste
      est téméraire, le rédacteur en chef le sera moins car il est fortement lié
      avec le pouvoir économique du média. Enfin il finit sur ce qu’il qualifie
      d’un des drames de notre République, c’est que des gens font beaucoup trop
      d’aller et retour entre le privé et le publique.
    </p>
  </div>
</div>
