<div class="content">
  <div style="position: relative">
    <img src="assets/Illustration-Resaux.jpg" class="frise activable" />
    <div class="paragraph activable">
      <h2 style="text-align: left; margin-bottom: 5%">
        La censure selon la loi
      </h2>
      <p>
        Les injures ciblées, la diffamation ainsi que les propos qui incitent à
        la haine raciale, à la xénophobie. La liberté d’expression connaît
        certaines limites sur les espaces publics notamment la diffusionde
        propos illicites "soit tout propos qui porte atteinte à l’honneur, à la
        vie privée ou à la réputation, lesapologie des crimes contre
        l’humanité". (citation du site
        <a href="https://www.e-enfance.org/reglementation-reseaux-sociaux"
          >e-enfance.org</a
        >) Ainsi est ouvert à la censure (dans des conditions normales
        d’utilisation) les message et page promouvant ces valeurs <br />Selon le
        site
        <a href="https://emmanuelle-wiesemes.com/legislation-reseaux-sociaux/"
          >emmanuelle-wiesemes</a
        >
        un réseau social est légalement un espace publique et est donc soumis à
        la législation de ces derniers.
      </p>
    </div>
  </div>
</div>
